* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: sans-serif;
}

.backgroundimage {
    z-index: 0;
    background-size: fixed;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../images/background.jpg);
    width: 100%;
}

/*@keyframes animate {
    0%,100%{
        background-image: url(../images/background.jpg);
    }
    33%{
        background-image: url(../images/129290658_2870974616500034_7732703758045352225_n.jpg);
    }
    66%{
        background-image: url(../images/tumblr_cf19030186ccac756cf2f8373f276ca6_8862994f_2048.jpg);
    }
}
*/
.nav-bar, .nav-links {
    z-index: 100;
    position: fixed;
    font-size: calc(0.75vw + 0.75vh);
    font-weight: 200;
    width: 100vw;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar.scrolling, .nav-links.scrolling {
    z-index: 100;
    background-color: white;
    position: fixed;
    font-size: calc(0.75vw + 0.75vh);
    font-weight: 200;
    width: 100vw;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar a {
    transition: color 750ms linear;
    z-index: 100;
    color: white;
    text-decoration: none;   
}
.nav-bar a:hover {
    z-index: 100;
    color: white;
    text-decoration: underline;
}
.nav-bar a.scrolling {
    transition: color 750ms ease-out;
    z-index: 100;
    color: #6e6e6e!important;
}

.nav-bar-pending, .nav-links-pending {
    z-index: 100;
    position: fixed;
    font-size: calc(0.75vw + 0.75vh);
    font-weight: 200;
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar-pending a {
    transition: color 750ms linear;
    z-index: 100;
    color: #6e6e6e;
    text-decoration: none;   
}
.nav-bar-pending a:hover {
    z-index: 100;
    color: #6e6e6e;
    text-decoration: underline;
}

.nowtinteresting {
    z-index: 1;
    font-size: calc(2vw + 2vh);
    font-weight: 200;
    color: white;
    line-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 50vh;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 150px;
    top: 0;
    margin: auto;
}

.nowtinteresting:hover {
    cursor: default;
}

.nowtinteresting.scrolling {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: calc(1vw + 1vw);
}

.definition {
    font-size: calc(1vw + 1vh);
    font-weight: 100;
    color: white;
    line-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 10vh;
    height: 50vh;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 50px;
    top: 0;
    margin: auto;
    font-style: italic;
}


@keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

/*.letters{
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
}*/

.pending {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: calc(0.75vw + 0.75vh);
    font-weight: 200;
    color: #6e6e6e;
}

.pending:hover {
    cursor: default;
}

/*
.letters:nth-child(1) {animation-delay: .5s}
.letters:nth-child(2) {animation-delay: 1s}
.letters:nth-child(3) {animation-delay: 1.5s}
.letters:nth-child(4) {animation-delay: 2s}
.letters:nth-child(5) {animation-delay: 2.5s}
.letters:nth-child(6) {animation-delay: 3s}
.letters:nth-child(7) {animation-delay: 3.5s}
.letters:nth-child(8) {animation-delay: 4s}
.letters:nth-child(9) {animation-delay: 4.5s}
.letters:nth-child(10) {animation-delay: 5s}
.letters:nth-child(11) {animation-delay: 5.5s}
.letters:nth-child(12) {animation-delay: 6s}
.letters:nth-child(13) {animation-delay: 6.5s}
.letters:nth-child(14) {animation-delay: 7s}
.letters:nth-child(15) {animation-delay: 7.5s}
*/

.gapfill {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.gapfillphoto {
    display: flex;
    flex-direction: column;
    height: 5vh;
}

.aboutprojectcontainer {
    align-items: top;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: 50%;
}

.projectpara {
    font-weight: 200;
    font-size: calc(0.75vw + 0.75vh);
    width: 100%;
    color: #6e6e6e;
}

/*.linetext {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.playground {
    font-weight: 200;
    font-size: calc(0.75vw + 0.75vh);
    width: 100%;
    font-style: italic;
}


.aboutimage {
    float: right;
    height: 60vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
}*/

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    max-width: 100%;
}

.socials ul {
    position: absolute;
    top: auto;
    left: auto;
    padding: 0;
    margin: 0;
    display: flex;
}
.socials ul li {
    list-style: none;
    margin: 0 10px;
}
.socials ul li .fa {
    color: white;
    font-size: 20px;
    line-height: 40px;
    transition: .5s;
}
.socials ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.socials ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.socials ul li:nth-child(1) a {
    background-color: #55acee;
}
.socials ul li:nth-child(2) a {
    background-color: #ef4056;
}
.socials ul li:nth-child(3) a {
    background-color: #0077b5;
}
.socials ul li:nth-child(4) a {
    background-color:#00405d;
}

.gallerytextcontainer {align-items: center;
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
}

.gallerytextheader {
    font-weight: 200;
    font-size: calc(1vw + 1vh);
}

.media1, .media2, .media3, .media4, .media5, .media6 {align-items: center;
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
}

img {
    max-height: fit-content;
    max-width: fit-content;
    object-fit: contain;
    height: 40%;
    width: 70%;
    border-radius: 1%;
}

img:hover {
    
}

.description1, .description2, .description3, .description4, .description5, .description6 {
    font-weight: 200;
    font-size: calc(0.75vw + 0.75vh);
    font-style: italic;
    color: #6e6e6e;
}

/*.socials {
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:375px) {
    .socials img {
        width: 32px;
        height: 32px;
    }
}