* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: 'Poppins', sans-serif;
}

.image {
    z-index: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    animation: animate 20s ease-in infinite;
}

@keyframes animate {
    0%,100%{
        background-image: url(../images/background.jpg);
    }
    33%{
        background-image: url(../images/129290658_2870974616500034_7732703758045352225_n.jpg);
    }
    66%{
        background-image: url(../images/tumblr_cf19030186ccac756cf2f8373f276ca6_8862994f_2048.jpg);
    }
}

.nav-bar, .nav-links {
    z-index: 100;
    position: fixed;
    font-size: calc(1vw + 1vh);
    font-weight: 300;
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar.scrolling, .nav-links.scrolling {
    z-index: 100;
    background-color: white;
    position: fixed;
    font-size: calc(1vw + 1vh);
    font-weight: 300;
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar a {
    transition: color 750ms linear;
    z-index: 100;
    color: white;
    text-decoration: none;   
}
.nav-bar a:hover {
    z-index: 100;
    color: white;
    text-decoration: underline;
}
.nav-bar a.scrolling {
    transition: color 750ms ease-out;
    z-index: 100;
    color:black!important;
}

.nowtinteresting {
    z-index: 1;
    font-size: calc(2vw + 2vh);
    font-weight: 300;
    color: white;
    line-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 50vh;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 50px;
    top: 0;
    margin: auto;
}
.nowtinteresting:hover {
    cursor: default;
}

.nowtinteresting.scrolling {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: calc(1vw + 1vw);
}


@keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

.letters{
    animation: FadeIn 0.5s linear;
    animation-fill-mode: both;
}

.letters:nth-child(1) {animation-delay: .5s}
.letters:nth-child(2) {animation-delay: 1s}
.letters:nth-child(3) {animation-delay: 1.5s}
.letters:nth-child(4) {animation-delay: 2s}
.letters:nth-child(5) {animation-delay: 2.5s}
.letters:nth-child(6) {animation-delay: 3s}
.letters:nth-child(7) {animation-delay: 3.5s}
.letters:nth-child(8) {animation-delay: 4s}
.letters:nth-child(9) {animation-delay: 4.5s}
.letters:nth-child(10) {animation-delay: 5s}
.letters:nth-child(11) {animation-delay: 5.5s}
.letters:nth-child(12) {animation-delay: 6s}
.letters:nth-child(13) {animation-delay: 6.5s}
.letters:nth-child(14) {animation-delay: 7s}
.letters:nth-child(15) {animation-delay: 7.5s}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 80vh;
}

.aboutme, .aboutmepara {
    background-color:white;
    font-weight: 200;
    font-style: italic;
    width: 100%;
}
.aboutme {
    font-size: calc(2vw + 2vh);
}
.aboutmepara {
    font-size: calc(1vw + 1vh);
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    max-width: 100%;
}

.socials ul {
    position: absolute;
    top: auto;
    left: auto;
    padding: 0;
    margin: 0;
    display: flex;
}
.socials ul li {
    list-style: none;
    margin: 0 10px;
}
.socials ul li .fa {
    color: white;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.socials ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.socials ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.socials ul li:nth-child(1) a {
    background-color: #55acee;
}
.socials ul li:nth-child(2) a {
    background-color: #ef4056;
}
.socials ul li:nth-child(3) a {
    background-color: #0077b5;
}
.socials ul li:nth-child(4) a {
    background-color:#00405d;
}

/*.socials {
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:375px) {
    .socials img {
        width: 32px;
        height: 32px;
    }
}