* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: 'Poppins', sans-serif;
}

.image {
    z-index: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.nav-bar, .nav-links {
    z-index: 100;
    position: fixed;
    font-size: calc(1vw + 1vh);
    font-weight: 300;
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar.scrolling, .nav-links.scrolling {
    z-index: 100;
    background-color: white;
    position: fixed;
    font-size: calc(1vw + 1vh);
    font-weight: 300;
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-bar a {
    transition: color 750ms linear;
    z-index: 100;
    color: white;
    text-decoration: none;   
}
.nav-bar a:hover {
    z-index: 100;
    color: white;
    text-decoration: underline;
}
.nav-bar a.scrolling {
    transition: color 750ms ease-out;
    z-index: 100;
    color:black!important;
}

.nowtinteresting {
    z-index: 1;
    font-size: calc(2vw + 2vh);
    font-weight: 300;
    color: white;
    line-height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 50vh;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 50px;
    top: 0;
    margin: auto;
}
.nowtinteresting:hover {
    cursor: default;
}

.whitespace {
    background-color: white;
    color: white;
    width: 100%;
    height: 10vh;
}
.whitespace:hover{
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.aboutme, .aboutmepara {
    background-color:white;
    font-weight: 200;
    font-style: italic;
    width: 100%;
}
.aboutme {
    font-size: calc(2vw + 2vh);
}
.aboutmepara {
    font-size: calc(1vw + 1vh);
}